/*--ГЛОБАЛЬНЫЕ СТИЛИ--*/
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
      clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  min-width: 1200px;
  background-color: #849D8F;
  background-image: url("../img/png/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    -o-transition: background-image 0.5s ease, background-color 0.5s ease;
      transition: background-image 0.5s ease, background-color 0.5s ease;
}

.wrapper::before,
.wrapper::after {
  content: "";

  visibility: hidden;
}

.wrapper::before {
  background-image: url("../img/png/slide-2.png");
}

.wrapper::after {
  background-image: url("../img/png/slide-3.png");
}

.wrapper-catalog {
  background-color: #849D8F;
  background-image: none;
  background: linear-gradient(to bottom, rgba(153, 174, 162, 1), rgba(132, 157, 143, 1));
}

.main-container {
  position: relative;
}

.container {
  position: relative;

  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

a {
  text-decoration: none;
}

.btn {
  display: block;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-image: linear-gradient(to top, #ca3824, #f26843);
  box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
  border-radius: 30px;
}

.btn:hover,
.btn:focus {
  color: #fefefe;

  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255,255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 1px 2px 0 #ac1000;
}

.btn:active {
  color: #fceeec;

  background-image: linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0 #942718;
}

.block {
  width: 520px;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;

  border-radius: 15px;
}

.modal {
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.modal-form-input {
  box-sizing: border-box;
  width: 241px;
  height: 44px;
  padding: 9px 15px;

  line-height: 24px;
  font-weight: 400;
  color: #999999;
  opacity: 1;

  background-color: #ffffff;
  border: 0;
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;

  outline: none;
}

.modal-form-input:hover {
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.modal-form-input:focus {
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.modal-form-input::-webkit-input-placeholder {
  opacity: 1;
}
.modal-form-input:-ms-input-placeholder {
  opacity: 1;
}
.modal-form-input::-ms-input-placeholder {
  opacity: 1;
}
.modal-form-input::placeholder {
  opacity: 1;
}

.dispatch-form input[type="submit"],
.form-modal input[type="submit"] {
  border: none;
}

.input-modal {
  margin-bottom: 20px;
}

/*--СТИЛИ ДЛЯ ШАПКИ--*/
.main-header {
  padding-top: 10px;
}

.main-nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 11px;
}

.menu-list,
.dropdown-menu,
.user-list,
.popup-search,
.popup-login,
.popup-basket {
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 480px;

  line-height: 18px;
}

.menu-item {
  position: relative;
  z-index: 20;

  padding-top: 13px;
  padding-bottom: 12px;
}

.menu-item > a {
  display: block;
  padding-top: 7px;
  padding-right: 13.5px;
  padding-left: 13.5px;
  padding-bottom: 7px;

  color: #ffffff;
}

.menu-item > a::after {
  content: "";

  display: block;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.4);
}

.menu-item:hover .menu-item-link,
.menu-item:focus .menu-item-link {
  color: #333333;

  background-color: #f7f6f3;
  border-radius: 20px;
}

.menu-item-link:active {
  color: #333333;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
  border-radius: 20px;
}

.menu-item-current > a {
  background-color: #d07058;
  border-radius: 20px;
}

.menu-item-current a::after {
  display: none;
}

.menu-item-current:hover .menu-item-link,
.menu-item-current:focus .menu-item-link,
.menu-item-current:active .menu-item-link {
  color: #ffffff;

  background-color: #d07058;
}

.menu-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  left: -7px;
  z-index: 1;

  display: none;
  width: 143px;

  line-height: 16px;

  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.dropdown-item a {
  display: block;
  padding: 8px 5px 8px 22px;

  font-size: 14px;
  font-weight: 400;
  color: #323232;
}

.dropdown-item-new a {
  position: relative;

  padding-top: 11px;
  padding-bottom: 13px;

  font-weight: 700;
}

.dropdown-item-new a::after {
  position: absolute;
  right: 9px;
  bottom: 0;
  left: 6px;

  content: "";

  height: 1px;

  background-color: rgba(53,53,53,.2);
}

.dropdown-item a:hover,
.dropdown-item a:focus {
  color: #333333;

  background-color: #fbded7;
}

.dropdown-item:first-child a:hover,
.dropdown-item:first-child a:focus {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.dropdown-item:last-child a:hover,
.dropdown-item:last-child a:focus {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-item a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.dropdown-item-current a {
  color: #ffffff;

  background-color: #d07058;
  border-radius: 0;
}

.dropdown-item-current a:hover,
.dropdown-item-current a:focus,
.dropdown-item-current a:active {
  color: #ffffff;

  background-color: #d07058;
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 300px;
  margin-left: auto;
  margin-top: 13px;

  line-height: 16px;
}

.user-list li:not(:last-child) {
  margin-right: 12px;
}

.btn-user {
  position: relative;
  z-index: 20;
}

.btn-user > a {
  display: block;
  padding: 7px 16px 9px 43px;

  font-size: 14px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.btn-search:hover > a,
.btn-search:focus > a,
.btn-login:hover > a,
.btn-login:focus > a {
  color: #323232;

  background-color: #f8f7f4;
}

.btn-user-current > a {
  color: #323232;

  background-color: #f8f7f4;
}

.btn-search a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33px;
  height: 33px;
  padding: 0;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.btn-search:hover path,
.btn-search:focus path {
  fill: #000000;
}

.popup-search {
  position: absolute;
  top: 40px;
  right: 13px;
  z-index: 1;

  display: none;
}

.btn-search:hover .popup-search,
.btn-search:focus .popup-search {
  display: block;
}

.btn-login a {
  position: relative;
}

.btn-login > a::before {
  position: absolute;
  top: 6px;
  left: 15px;

  content: "";

  display: block;
  width: 21px;
  height: 19px;

  background-image: url("../img/svg/entrance-white.svg");
  background-repeat: no-repeat;
}

.btn-login:hover > a::before,
.btn-login:focus > a::before {
  background-image: url("../img/svg/entrance-black.svg");
  background-repeat: no-repeat;
}

.popup-login {
  position: absolute;
  top: 40px;
  right: 25px;
  z-index: 1;

  display: none;
}

.btn-login:hover .popup-login {
  display: block;
}

.btn-basket a {
  position: relative;
}

.btn-basket > a::before {
  position: absolute;
  top: 6px;
  left: 14px;

  display: block;

  content: "";

  width: 21px;
  height: 20px;

  background-image: url("../img/svg/basket.svg");
  background-repeat: no-repeat;
}

.btn-user-current > a::before {
  background-image: url("../img/svg/basket-red.svg");
  background-repeat: no-repeat;
}

.popup-basket {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;

  display: none;
}

.btn-basket:hover .popup-basket {
  display: block;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-left: auto;

  text-align: right;
}

.header-time {
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
}

.header-telephone {
  font-size: 22px;
  line-height: 24px;
}

/*--СТИЛИ ДЛЯ КАРУСЕЛИ--*/
.carousel {
  position: relative;
  margin-bottom: 42px;
  padding-top: 275px;

  text-align: center;
}

.slide {
  display: none;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.carousel-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60px;
}

.btn-carousel {
  display: inline-block;
  padding: 9px 40px;

  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls label:active {
  background-color: #ffffff;
}

#product-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url("../img/png/slide-1.png");
}

#product-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url("../img/png/slide-2.png");
}

#product-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url("../img/png/slide-3.png");
}

#product-1:checked ~ .wrapper #slide-1,
#product-2:checked ~ .wrapper #slide-2,
#product-3:checked ~ .wrapper #slide-3 {
  display: block;
}

#product-1:checked ~ .wrapper label[for="product-1"],
#product-2:checked ~ .wrapper label[for="product-2"],
#product-3:checked ~ .wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*--СТИЛИ ДЛЯ БАННЕРОВ--*/
.banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.banner-raspberry {
  background: #6d1122 url("../img/jpeg/crimson-background.jpg") 0 0 no-repeat;
}

.banner-choco {
  background: #3d2418 url("../img/jpeg/chocolate-background.jpg") 0 0 no-repeat;
}

.banner-title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 35px;
  line-height: 41px;
}

.banner-desc {
  margin: 0;
  margin-bottom: 44px;

  font-size: 18px;
  line-height: 22px;
}

.banner-btn {
  width: 147px;
  margin-bottom: 23px;
  margin-left: auto;

  text-align: center;
}

.banner-raspberry .banner-btn {
  padding: 11px 10px;
}

.banner-choco .banner-btn {
  padding: 10px 21px;
}

/*--СТИЛИ ДЛЯ ХЛЕБНЫХ КРОШЕК--*/
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 2px;
  padding: 0;

  list-style: none;
}

.breadcrumb-item a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.breadcrumb-item a:hover,
.breadcrumb-item a:focus,
.breadcrumb-item a:active {
  color: #ffbc9e;

  border-bottom: 1px solid #ffbc9e;
}

.breadcrumb-item-current a {
  border-bottom: none;
}

.breadcrumb-item-current a:hover,
.breadcrumb-item-current a:focus,
.breadcrumb-item-current a:active {
  color: #ffffff;

  border-bottom: none;
}

.container-title {
  margin: 0;
  margin-bottom: 23px;

  font-size: 35px;
  line-height: 41px;
}

/*--СТИЛИ ДЛЯ ФИЛЬТРА--*/
.filter {
  max-width: 860px;
  margin-bottom: 39px;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
            align-items: center;
}

.filter-form legend {
  margin-left: 15px;
  margin-bottom: 7px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-form-group:first-child {
  width: 194px;
  margin-bottom: 15px;
}

.filter-form-group:nth-child(2) {
  width: 220px;
  margin-bottom: 15px;
}

.filter-form-group:nth-child(3) {
  width: 417px;
  margin-bottom: 15px;
}

.filter-form-group:nth-child(4) {
  width: 705px;
}

.filter-form-group {
  margin: 0;
  padding: 0;

  border: none;
}

.select {
  padding: 7px 0;

  background-color: rgba(255,255,255,.3);
  border-radius: 25px;
}

.select select {
  padding-left: 15px;
  padding-right: 25px;

  color: #ffffff;

  background-color: transparent;
  background-image: url(../img/svg/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: 168px 4px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select select:hover,
.select select:focus {
  color: #323232;

  background-image: url("../img/svg/icon-down-dir-hover.svg");
}

.input-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.range-data label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.range {
  position: relative;

  width: 188px;
  height: 37px;
  padding: 0 15px;

  background-color: rgba(255,255,255,.3);
  border-radius: 25px;
}

.transparent-line {
  position: absolute;
  top: 16px;
  left: 22px;

  width: 174px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.4);
}

.white-line {
  position: absolute;
  top: 16px;
  left: 45px;

  width: 103px;
  height: 4px;

  background-color: #ffffff;
}

.white-circle {
  position: absolute;
  top: 8px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.white-circle:hover {
  top: 7px;

  border-width: 9px;
}

.circle-left {
  left: 34px;
  top: 8px;
}

.circle-right {
  left: 132px;
  top: 8px;
}

.field-form-group legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-form-group input[type="text"] {
  width: 26px;
  box-sizing: border-box;

  background-color: transparent;
  border: none;
}

.filter-form-group input[type="text"]::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}
.filter-form-group input[type="text"]:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}
.filter-form-group input[type="text"]::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}
.filter-form-group input[type="text"]::placeholder {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  opacity: 1;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 9px;

  background-color: rgba(255,255,255,.3);
  border-radius: 25px;
}

.filter-input:focus + label {
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.input-radio label {
  position: relative;

  display: block;
  padding-right: 12px;
  padding-left: 36px;

  line-height: 18px;
  font-weight: 400;
}

.input-radio label::before {
  position: absolute;
  top: -3px;
  left: 3px;

  content: "";

  width: 25px;
  height: 25px;

  background-image: url("../img/svg/radio-off.svg");
  background-repeat: no-repeat;
}

.input-radio label:hover::before {
  background-image: url("../img/svg/radio-off-hover.svg");
}

input[type="radio"]:checked + label::before {
  background-image: url("../img/svg/radio-on.svg");
}

input[type="radio"]:checked + label:hover::before {
  background-image: url("../img/svg/radio-on-hover.svg");
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 8px;

  background-color: rgba(255,255,255,.3);
  border-radius: 25px;
}

.input-checkbox label {
  position: relative;

  display: block;
  padding-right: 13px;
  padding-left: 41px;

  line-height: 18px;
  font-weight: 400;
}

.input-checkbox label::before {
  position: absolute;
  top: -2px;
  left: 8px;

  content: "";
  width: 25px;
  height: 25px;

  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
}

.input-checkbox label:hover::before {
  background-image: url("../img/svg/checkbox-off-hover.svg");
}

input[type="checkbox"]:checked + label::before {
  background-image: url("../img/svg/checkbox-on.svg");
}

input[type="checkbox"]:checked + label:hover::before {
  background-image: url("../img/svg/checkbox-on-hover.svg");
}

.btn-filter {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 7px 27px;
  margin-left: auto;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #323232;

  background-color: #ffffff;
}

.btn-filter:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

/*--СТИЛИ ДЛЯ КАТАЛОГА--*/
.catalog-hit {
  margin-bottom: 38px;
}

.catalog {
  margin-bottom: 30px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.creamy-catalog {
  margin-bottom: 46px;
}

.creamy-catalog .catalog-item {
  margin-bottom: 37px;
}

.catalog-item {
  position: relative;

  width: 267px;
}

.hit::before {
  position: absolute;
  top: 0;
  z-index: 15;

  content: "";
  width: 61px;
  height: 61px;

  background-image: url("../img/svg/hit.svg");
  background-repeat: no-repeat;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog-img-item {
  width: 267px;
  height: 267px;
  margin: 0;
  margin-bottom: 13px;
}

.catalog-item-price {
  position: relative;

  margin: 0;
}

.catalog-item-price::before {
  position: absolute;
  top: -69px;
  left: 75px;
  content: "";

  display: block;
  width: 40px;
  height: 45px;

  background-image: url("../img/svg/ruble.svg");
  background-repeat: no-repeat;
}

.price {
  position: absolute;
  bottom: 25px;
  left: -1px;

  font-size: 45px;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.weight {
  position: absolute;
  bottom: 21px;
  left: 112px;

  font-size: 30px;
  line-height: 45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-desc {
  z-index: 10;

  margin: 0;
  padding: 0 5px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.catalog-item-desc a {
  color: #ffffff;

  border-bottom: 1px solid #adbdb4;
}

.catalog-item-desc a:hover,
.catalog-item-desc a:focus,
.catalog-item-desc a:active {
  color: #FFBC9E;
  border-bottom-color: #a7a294;
  border-bottom: none;
}

.catalog-item .view {
  position: absolute;
  top: -7px;
  left: -10px;

  display: none;

  width: 287px;
  height: 125%;

  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
}

.btn-catalog {
  position: absolute;
  bottom: 15px;
  left: 45px;

  display: inline-block;
  width: 168px;
  padding: 13px 17px;

  vertical-align: top;
}

.catalog-item:hover {
    z-index: 2;
}

.catalog-item:hover .view {
    z-index: -1;

    display: block;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 190px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.pagination-item {
  position: relative;
}

.pagination-prev::before {
  position: absolute;
  top: 7px;
  left: 0;

  content: "";
  display: block;
  width: 9px;
  height: 14px;

  background-image: url("../img/svg/icon-left-small.svg");
  background-repeat: no-repeat;
}

.pagination-next::before {
  position: absolute;
  top: 6px;
  left: 17px;

  content: "";
  display: block;
  width: 9px;
  height: 14px;

  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
}

.pagination-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17px;
  padding: 4px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item > .pagination-prev:hover,
.pagination-item > .pagination-prev:focus {
  background-color: transparent;
}

.pagination-item > .pagination-next:hover,
.pagination-item > .pagination-next:focus {
  background-color: transparent;
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  color: #323232;

  background-color: #ffffff;
}

/*--СТИЛИ ДЛЯ ПРЕИМУЩЕСТВ--*/
.features {
  padding: 26px 27px 24px 20px;
  margin-bottom: 40px;

  background: #ede1c8 url("../img/jpeg/waffle-pattern.jpg") center repeat;
  border-radius: 15px;
}

.features-lead {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 500;
  color: #323232;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  position: relative;

  width: 476px;

  font-weight: 400;
  color: #323232;
}

.feature-item:nth-child(1),
.feature-item:nth-child(3) {
  margin-left: 56px;
}

.feature-item:nth-child(2),
.feature-item:nth-child(4) {
  margin-left: auto;
}

.feature-item:nth-child(1),
.feature-item:nth-child(2) {
  margin-bottom: 23px;
}

.feature-item::before {
  position: absolute;

  content: "";

  width: 60px;
  height: 60px;

  background-repeat: no-repeat;
}

.feature-item:first-child::before {
  top: -13px;
  left: -56px;

  background-image: url("../img/svg/ice-cream.svg");
}

.feature-item:nth-child(2)::before {
  top: -13px;
  left: -58px;

  background-image: url("../img/svg/cow.svg");
}

.feature-item:nth-child(3)::before {
  top: -14px;
  left: -56px;

  background-image: url("../img/svg/eco.svg");
}

.feature-item:last-child::before {
  top: -14px;
  left: -58px;

  background-image: url("../img/svg/thermometer.svg");
}

/*--СТИЛИ ДЛЯ БЛОКОВ БЛОГ И ФИДБЭК--*/
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  padding-top: 7px;
  padding-bottom: 80px;
  background: #ffffff url("../img/jpeg/strawberry-background.jpg") 16% 39% no-repeat;
}

.blog-new {
  margin-bottom: 4px;

  font-weight: 500;
  color: #323232;
}

.blog-link-title {
  display: block;
  width: 281px;

  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  color: #323232;
}

.blog-link-title:hover,
.blog-link-title:focus,
.blog-link-title:active {
  color: #e84d37;
}

.dispatch {
  width: 512px;
  padding-top: 30px;
  padding-right: 17px;

  background-color: #f8f7f4;
  border: 5px solid #92cdfc;
  border-image: url("../img/svg/bg-post.svg") 5 round round;
}

.dispatch-desc {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 400;
  color: #5a5a5a;
}

.dispatch-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dispatch-form input[type="email"] {
  box-sizing: border-box;
  width: 368px;
  padding: 9px 13px;

  line-height: 24px;

  border-radius: 5px;
  background-color: #ffffff;
  border: 0;
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  outline: none;
}

.dispatch-form input[type="email"]:hover {
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.dispatch-form input[type="email"]:focus {
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.dispatch-form input[type="email"] {
  line-height: 24px;
  color: #999999;
  opacity: 1;
}

.dispatch-form input[type="email"]::-webkit-input-placeholder {
  opacity: 1;
}
.dispatch-form input[type="email"]:-ms-input-placeholder {
  opacity: 1;
}
.dispatch-form input[type="email"]::-ms-input-placeholder {
  opacity: 1;
}
.dispatch-form input[type="email"]::placeholder {
  opacity: 1;
}

.dispatch-form input[type="submit"] {
  padding: 10px 21px;
}

/*--СТИЛИ ДЛЯ БЛОКА С КАРТОЙ--*/
.map {
  position: relative;

  height: 430px;
}

.yandex-map {
  position: absolute;
  top: 0;
  z-index: 3;

  height: 430px;
  width: 100%;
}

.map img {
  position: relative;
  z-index: 0;

  margin: 0 auto;

  display: block;
}

.map-contacts {
  position: absolute;
  z-index: 4;
  top: -367px;
  right: 27px;

  width: 252px;
  padding-top: 28px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 31px;

  background-color: #ffffff;
  border-radius: 15px;
}

.map-contacts p {
  margin: 0;

  color: #323232;
}

.map-contacts p:first-child {
  margin-bottom: 2px;
}

.map-contacts p:nth-child(2) {
  margin-bottom: 17px;
}

.map-contacts-normal {
  width: 148px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.map-contacts p:nth-child(3) {
  width: 172px;
  margin-bottom: 5px;
}

.map-contacts p:nth-child(4) {
  margin-bottom: 1px;
}

.map-contacts p:last-of-type {
  width: 153px;
  margin-bottom: 26px;
}

.map-contacts-bold {
  width: 222px;

  font-size: 18px;
  line-height: 24px;
}

.map-contacts a {
  padding: 10px 27px;

  text-align: center;
}

/*--СТИЛИ ДЛЯ МОДАЛЬНОГО ОКНА ВХОД ДЛЯ ПОЛЬЗОВАТЕЛЕЙ--*/
.modal-login {
  position: relative;

  width: 241px;
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 17px;
  padding-bottom: 22px;
}

.input-email,
.input-password {
  font-size: 14px;
}

.login-btn {
  padding: 11px 25px;
}

.login-password-info {
  position: absolute;
  top: 147px;
  right: 20px;

  margin: 0;
}

.login-password-info a {
  display: block;
  width: 120px;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline;
  color: #323232;
}

.login-password-info a::before {
  background-image: none;
}

.login-password-info a:hover::before {
  background-image: none;
}

.login-password-info a:hover,
.login-password-info a:focus,
.login-password-info a:active {
  color: #e84d37;
}

/*--СТИЛИ ДЛЯ МОДАЛЬНОГО ОКНА ПОИСКА--*/
.modal-search {
  padding: 20px 15px;
}

.input-search {
  box-sizing: border-box;
  width: 311px;

  font-size: 14px;
}

/*--СТИЛИ ДЛЯ МОДАЛЬНОГО ОКНА ДЛЯ ФИДБЭКА--*/
.modal-feedback {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 160;

  display: none;
  width: 429px;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 27px;
  padding-left: 24px;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal-feedback-show {
  display: block;
}

.modal-feedback h2 {
  margin: 0;
  margin-bottom: 19px;

  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.input-feedback {
  width: 267px;
}

.form-modal .input-feedback {
  font-size: 16px;
}

.textaria-feedback {
  width: 428px;
  height: 155px;
  padding: 9px 15px;

  resize: none;
}

.form-modal .textaria-feedback {
  font-size: 16px;
}

.btn-feedback {
  width: 141px;
  padding: 14px 24px 13px 24px;
}

.modal-close {
  position: absolute;
  top: 17px;
  right: 18px;

  padding: 0;

  background: transparent;
  border: none;
  cursor: pointer;
}

/*--СТИЛИ ДЛЯ МОДАЛЬНОГО ОКНА КОРЗИНЫ--*/
.modal-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 511px;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 13px;
  padding-bottom: 19px;
}

.modal-table {
  width: 100%;

  border-bottom: 1px solid #cacac7;
}

.modal-table td {
  padding-bottom: 15px;

  vertical-align: middle;
}

.table-row td:first-child {
  width: 11px;
}

.table-row td:nth-child(2) {
  width: 33px;
}

.table-row td:nth-child(3) {
  width: 216px;
}

.table-row td:nth-child(4) {
  width: 100px;
}

.table-row td:nth-child(5) {
  width: 50px;
}

.position-delete {
  background-color: transparent;
  border: none;
}

.table-img img {
  border-radius: 50%;
}

.table-text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.basket-price {
  color: #999999;
}

.total-amount {
  -ms-flex-item-align: end;
      align-self: flex-end;

  font-size: 15px;
  line-height: 18px;
  color: #323232;
}

.btn-order {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px 14px 11px 16px;
}

/*--СТИЛИ ДЛЯ OVERLAY--*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;

  display: none;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.5);
}

.overlay-show {
  display: block;
}

/*--СТИЛИ ДЛЯ ФУТЕРА--*/
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 26px;
}

.footer-border {
  padding-top: 17px;

  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-socials {
  width: 190px;
  margin-top: 18px;
}

.socials-list,
.footer-menu-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 185px;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-link:active {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-link:hover path,
.social-link:focus path {
  fill: #ffffff;
}

.social-link:active path {
  fill: #e9e9e9;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 327px;
  margin-top: 16px;
}

.footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  line-height: 18px;
}

.footer-menu-list:first-child {
  position: relative;

  margin-left: 13px;
  margin-right: 30px;
}

.footer-menu-item:first-child {
  margin-bottom: 2px;
}

.footer-menu-item a {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid #adbdb4;
}

.love a {
  font-weight: 700;
}

.love::before {
  position: absolute;
  top: 3px;
  left: -22px;

  content: "";
  width: 15px;
  height: 13px;

  background-image: url("../img/svg/heart.svg");
  background-repeat: no-repeat;
}

.footer-menu-item a:hover,
.footer-menu-item a:focus,
.footer-menu-item a:active {
  color: #ffbc9e;
  border-bottom: 1px solid #a7a294;
}

.copyright {
  width: 190px;
}

.htmlacademy-logo {
  display: block;
  width: 108px;
  height: 39px;
  margin-bottom: 4px;
  padding-left: 2px;
}

.copyright p {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.html-academy {
  color: #ffffff;
  border-bottom: 1px solid #adbdb4;
}

.html-academy:hover,
.html-academy:focus,
.html-academy:active {
  color: #ffbc9e;
  border-bottom: 1px solid #a7a294;
}
